            <h1 class="mt-4">Raeli Logistics And Management Systems</h1>
            <h2 class="lead mb-3">Welcome <%= user.name %></h2>
            <a href="/users/logout" class="btn btn-danger">Logout</a>
            <a href="https://2017050043.github.io/RAELI-FINAL/" class="btn btn-primary">procceed</a>